<!DOCTYPE html>
<html>
  {{> head}}
  <body>
      {{> headerLight}}
      <div class="container download">
          <div class="row mt-5 py-3 py-lg-5">
              <div class="col">
                  <h1>
                      {{ t "download.text1" }}
                  </h1>
                  <h4 class="mt-3 mt-lg-4">
                      {{ t "download.tips" }}
                  </h4>
              </div>
          </div>
          <div class="row py-3 py-5">
              <div class="col">
                  <h2>Apple Silicon</h2>
              </div>
          </div>
          <div class="row py-2">
              <div class="col-lg-2"></div>
              <div class="col">
                  <i class="x-icon x-icon-github source"></i>
                  <a class="btn btn-lg btn-secondary shadow-secondary w-75 w-lg-50" target="_blank" title="phpwebstudy-{{ t 'download.text2' }}" href="https://github.com/xpf0000/PhpWebStudy/releases/download/v1.0.33/PhpWebStudy-1.0.33-arm64.dmg">
                      {{ t "download.text2" }}
                  </a>
              </div>
              <div class="col">
                  <i class="x-icon x-icon-baidu source"></i>
                  <a class="btn btn-lg btn-secondary shadow-secondary w-75 w-lg-50" target="_blank" title="phpwebstudy-百度网盘下载" href="https://pan.baidu.com/s/1NhvCBZcFKS80XU3_f42kqg?pwd=x63y">
                      百度网盘下载
                  </a>
              </div>
              <div class="col-lg-2"></div>
          </div>
          <div class="row py-5"></div>
          <div class="row mt-5 py-3 py-5">
              <div class="col">
                  <h2>Intel X86</h2>
              </div>
          </div>
          <div class="row mb-5 py-2">
              <div class="col-lg-2"></div>
              <div class="col">
                  <i class="x-icon x-icon-github source"></i>
                  <a class="btn btn-lg btn-secondary shadow-secondary w-75 w-lg-50" target="_blank" title="phpwebstudy-{{ t 'download.text2' }}" href="https://github.com/xpf0000/PhpWebStudy/releases/download/v1.0.33/PhpWebStudy-1.0.33.dmg">
                      {{ t "download.text2" }}
                  </a>
              </div>
              <div class="col">
                  <i class="x-icon x-icon-baidu source"></i>
                  <a class="btn btn-lg btn-secondary shadow-secondary w-75 w-lg-50" target="_blank" title="phpwebstudy-百度网盘下载" href="https://pan.baidu.com/s/1YTrLf58wFwsC32ydGWUHQw?pwd=ikhq">
                      百度网盘下载
                  </a>
              </div>
              <div class="col-lg-2"></div>
          </div>
          <div class="row mb-5 py-5"></div>
      </div>
      {{> footer}}
  </body>
</html>
