<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc22.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc22.text1' }}
            </p>
            <p>
                <img src="/image/e9a1163beee143ca5069afdba41d38f8.png"/>
            </p>
            <p>
                {{ t 'doc22.text2' }}
            </p>
            <p>
                <img src="/image/7310237ecff0b6345396365f6fe0bfb1.png"/>
            </p>
            <p>
                {{ t 'doc22.text3' }}
            </p>
            <p>
                <img src="/image/67afc87035ca2a1b28f09349d7acb8d3.png"/>
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
