<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc23.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc23.text1' }}
            </p>
            <p>
                <img src="/image/e45dbc27a64682a6c21647a0ec4d246e.png"/>
            </p>
            <p>
                {{ t 'doc23.text2' }}
            </p>
            <p>
                <img src="/image/9e14dbd411afb036b2607ed4413af6bc.png"/>
            </p>
            <p>
                {{ t 'doc23.text3' }}
            </p>
            <p>
                <img src="/image/9d3d2942b5c031d5409a7f42f21399ff.png"/>
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
