<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc11.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc11.text1' }}
            </p>
            <p>
                {{ t 'doc11.text2_1' }}
                <a href="download.html" target="_blank">download.html</a>
                {{ t 'doc11.text2_2' }}
        </p>
            <p>
                {{ t 'doc11.text3' }}
            <p>
            <img src="/image/f0f520311d17f16ce5135d0755764597.png"/>
            </p>
            <p>
                {{ t 'doc11.text4' }}
            </p>
            <p>
                {{ t 'doc11.text5' }}
            </p>
            <p>
                <img src="/image/3132ea3a4414e3c75f76889bd575dede.png"/>
            </p>
            <p>
                {{ t 'doc11.text6_1' }}
                <a href="help-4-1.html" target="_blank">
                    help-4-1.html
                </a>
                {{ t 'doc11.text6_2' }}
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
