<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc21.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc21.text1' }}
            </p>
            <p>
                <img src="/image/facc73ffd1716af56918f7cdf8d5909e.png"/>
            </p>
            <p>
                {{ t 'doc21.text2' }}
            </p>
            <p>
                <img src="/image/d664820282f6c873f3cc136480562dd7.png"/>
            </p>
            <p>
                {{ t 'doc21.text3' }}
            </p>
            <p>
                {{ t 'doc21.text4' }}
            </p>
            <p>
                {{ t 'doc21.text5' }}
            </p>
            <p>
                {{ t 'doc21.text6' }}
            </p>
            <p>
                {{ t 'doc21.text7' }}
            </p>
            <p>
                {{ t 'doc21.text8' }}
            </p>
            <p>
                {{ t 'doc21.text9' }}
            </p>
            <p>
                {{ t 'doc21.text10' }}
            </p>
            <p>
                {{ t 'doc21.text11' }}
            </p>
            <p>
                {{ t 'doc21.text12' }}
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
