<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc44.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc44.text1' }}
            </p>
            <p>
                {{ t 'doc44.text2' }}
            </p>
            <p>
                <img src="/image/59865BD9-3F22-4D93-BAC5-647F3E7EA93A.png"/>
            </p>
            <p>
                {{ t 'doc44.text3' }}
            </p>
            <p>
                {{ t 'doc44.text4' }}
            </p>
            <p>
                <img src="/image/D8F81561-516B-4E7B-8495-F0FD9A87D0DE.png"/>
            </p>
            <p>
                {{ t 'doc44.text5' }}
            </p>
            <p>
                <img src="/image/92A2A86D-5365-4EA4-8D9C-3FB5433CB332.png"/>
            </p>
            <p>
                {{ t 'doc44.text6' }}
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
