<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc01.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc01.text1' }}
        </p>
            <p>
                {{ t 'doc01.text2_1' }}
            <a href="help-4-2.html" target="_blank" title="PhpWebStudy-{{ t 'doc01.text2_2' }}">PhpWebStudy-{{ t 'doc01.text2_2' }}</a>
                {{ t 'doc01.text2_3' }}
        </p>
            <p>
                {{ t 'doc01.text3' }}
            <p>
                <img src="/image/D43137AB-B785-41FE-AD9B-8536066221AE.png"/>
            </p>
            <p>
                {{ t 'doc01.text4_1' }}
            <a href="help-2-18.html" target="_blank" title="PhpWebStudy-{{ t 'doc01.text4_2' }}">{{ t 'doc01.text4_2' }}</a>
                {{ t 'doc01.text4_3' }}
        </p>
            <p>
                <img src="/image/5d3c639a2e43.png"/>
            </p>

            <p>
                {{ t 'doc01.text5' }}
        </p>
            <p>
                {{ t 'doc01.text6' }}
        </p>
            <p>
                {{ t 'doc01.text7' }}
        </p>
            <p>
                {{ t 'doc01.text8' }}
        </p>
            <p>
                {{ t 'doc01.text9' }}
        </p>
            <p>
                <img src="/image/5f37e23b0dd75141a777c3a10180d193.png"/>
            </p>
            <p>
                {{ t 'doc01.text10' }}
        </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
