<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc218.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc218.text1' }}
            </p>
            <p>
                {{ t 'doc218.text2' }}
            </p>
            <p>
                {{ t 'doc218.text3' }}
            </p>
            <p>
                <img src="/image/62db2595cb1a.png"/>
            </p>
            <p>
                {{ t 'doc218.text4' }}
            </p>
            <p>
                <img src="/image/5d3c639a2e43.png"/>
            </p>
            <p>
                {{ t 'doc218.text5' }}
            </p>
            <p>
                {{ t 'doc218.text6' }}
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
