<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc42.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                {{ t 'doc42.text1' }}
            </p>
            <p>
                {{ t 'doc42.text2' }}
            </p>
            <p>
                {{ t 'doc42.text3' }}
            </p>
            <p>
                {{ t 'doc42.text4' }}
            </p>
            <p>
                {{ t 'doc42.text5' }}
            </p>
            <p>
                {{ t 'doc42.text6' }}<a href="https://github.com/Homebrew/brew" target="_blank">https://github.com/Homebrew/brew</a>
            </p>
            <p>
                {{ t 'doc42.text7' }}<a href="https://gitee.com/cunkai/HomebrewCN" target="_blank">https://gitee.com/cunkai/HomebrewCN</a>
            </p>
            <p>
                {{ t 'doc42.text8' }}<a href="https://brew.sh/" target="_blank">https://brew.sh/</a>
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
