<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> docHeader}}
{{> docAside}}
<main class="docs-container pt-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">

        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
            <div class="me-4">
                <h1 class="pb-1">{{ t 'doc33.title' }}</h1>
            </div>
        </div>

        <section class="py-5 ps-lg-2 ps-xxl-0">
            <p>
                <a href="help-3-2.html" target="_blank">{{ t 'doc32.title' }}</a>, {{ t 'doc33.text1' }}
            </p>
            <p>
                <img src="/image/F6F40A6E-AD30-49F0-B1B4-2F0DB2E9ADFB.png"/>
            </p>
            <p>
                {{ t 'doc33.text2' }}
            </p>
            <p>
                {{ t 'doc33.text3' }}
            </p>
            <p>
                <img src="/image/F77D9A99-B1FB-4524-A09E-584839CF3C26.png"/>
            </p>
            <p>
                {{ t 'doc33.text4' }}
            </p>
            <p>
                {{ t 'doc33.text5' }}
            </p>
            <p>
                <img src="/image/936B1393-B473-448B-AEF2-A866EC986E48.png"/>
            </p>
        </section>
    </div>
</main>
{{> docFoot}}
</body>
</html>
